@media screen and (max-width: 460px) { 
    .filter-options {
        height: 160px;
    }

    .filter-options {
        text-align: center;
    }

    .filter-options select {
        width: 80%;
    }

    #footer strong {
        display: none;
    }
}

@media screen and (max-width: 455px) { 
    .select {
        grid-template-columns: 1fr;
    }
}