@media screen and (max-width: 768px) { 
    
    .filter-options {
        height: 120px;
        text-align: center;
    }

    .filter-options h2 {
        padding-top: 10px;
        font-size: 1.5rem;
    }

    .filter-options select {
        width: 40%;
    }
    
}

@media only screen and (min-width : 768px) {

    .filter-options {
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
    }
}