@media screen and (max-width: 768px) { 
    
    /* Filter Options */
    .filter-options {
        height: 120px;
        text-align: center;
    }

    .filter-options h2 {
        padding-top: 10px;
        font-size: 1.5rem;
    }

    .filter-options select {
        width: 40%;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .wrapper-content {
        grid-area: wrapper-content;
    } 

    /* Map */

    .wrapper-map {
        grid-area:wrapper-map;
      }

    .inside #map-container {
        position: relative;
        width: 100%;
        margin-top: 50px;
    }
  
    div.wrapper-map {
        height: 23%
    }

    #restaurant-container {
        padding: 660px 40px 30px;
    }

    /* Restaurant */
    #restaurant-name {
        text-align: center;
    }

    #restaurant-hours td {        
        font-size: 11pt;
    }

    #restaurant-hours td:first-child {
        font-weight: bold;     
    }

    /* Breadcumb */
    #breadcrumb {
        padding: 10px 40px 16px;
        list-style: none;
        font-size: 17px;
        margin: 0;
        width: 100%
    }

    #breadcrumb li {
        display: inline;
        font-size: 12pt;
    } 

    .inside header {
        z-index: 1500;
    }
}    

@media only screen and (min-width : 768px) {

    .filter-options {
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
    }
}