@media screen and (max-width: 460px) { 
    .filter-options {
        height: 180px;
    }

    .filter-options {
        text-align: center;
    }

    .filter-options select {
        width: 80%;
    }

    #footer strong {
        display: none;
    }

    #restaurants-list li h1 {
        font-size: 12pt;
    }

    #restaurants-list li a {
        width: 65%
    }
}

@media screen and (max-width: 455px) { 
    .select {
        grid-template-columns: 1fr;
    }
}